
<div class="container-xl mt-5 mb-4">
  <div class="table-responsive">
      <div class="table-wrapper mt-5">
          <table class="table table-bordered shadow rounded">
              <tbody>
                  <tr>
                      <td colspan="8">
                          <div class="table-title bg-custom-blue text-light p-4 rounded-top d-flex justify-content-between align-items-center">
                              <h4 class="m-0"><b>Liste des entreprises</b></h4>
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <table class="table table-striped table-hover">
                              <thead class="bg-white text-dark">
                                  <tr>
                                      <th>ID</th>
                                      <th>Nom</th>
                                      <th>Sous-domaine</th>
                                      <th>Logo</th>
                                      <th>Adresse</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let company of companies">
                                      <td>{{ company.id }}</td>
                                      <td>{{ company.nom }}</td>
                                      <td>{{ company.subdomaine }}</td>
                                      <td><img [src]="company.logo" alt="Logo" width="50"></td>
                                      <td>{{ company.adresse }}</td>
                                      <td class="text-right"> <!-- Ajout de la classe text-right pour aligner les boutons à droite -->
                                          <a [routerLink]="['/companies/list/modif', company.id]"
                                              class="btn btn-warning btn-icon btn-sm mr-2"><i class="fa fa-edit"></i></a>
                                          <button type="button" (click)="deleteCompany($event, company.id)"
                                              class="btn btn-danger btn-icon btn-sm"><i class="fa fa-times"></i></button>
                                      </td>
                                  </tr>
                                  <tr *ngIf="companies.length == 0">
                                      <td colspan="8" class="text-center">Aucune entreprise trouvée</td>
                                  </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
