.renion-btn {
    background-color: #719fee; /* Bleu pour le bouton Like */
    color: white;
  }
  
  .renion2-btn {
    background-color: #8c46ce;
    color: white;
  }.bouton {
    display: inline-block; /* Pour aligner sur une seule ligne */
    background-color: #719fee;
    border-radius: 5px; /* Pour rendre les coins plus arrondis */
    border: none; /* Supprimer le contour */
    color: #ffffff;
    text-align: center;
    font-size: 16px; /* Réduire la taille de la police */
    padding: 5px 10px; /* Réduire l'espace intérieur */
    width: auto; /* Ajuster la largeur automatiquement au contenu */
    cursor: pointer;
  }
  