/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container-fluid {
    height: 100%;
}

/* Card styles */
.card {
    max-width: 450px; /* Adjust the maximum width as needed */
    margin: auto;
    background-color: #fff;
    border-radius: 25px;
}

.card-header {
    border-radius: 25px 25px 0 0 !important;
    background-color: #007bff;
}

.card-header h3 {
    color: #007bff; /* Couleur bleue pour le titre */
}

.card-body {
    padding: 2rem;
}

/* Form input styles */
.form-control {
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-family: Arial, sans-serif; /* Utilisation de la même police que la confirmation d'email */
    color: #007bff; /* Couleur du texte */
}

.form-control:focus {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.4);
}

/* Button styles */
.btn-primary {
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    padding: 0.75rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Alert styles */
.alert {
    width: 100%;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Additional utility classes */
.text-center {
    text-align: center;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.mb-0 {
    margin-bottom: 0;
}

.font-weight-bold {
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        margin-top: 50px;
    }
}
