<div class="container-fluid bg-light vh-100 d-flex align-items-center justify-content-center">
  <div class="row justify-content-center w-100">
    <div class="col-lg-6">
      <div class="card border-0 shadow-lg rounded-lg position-relative">
        <!-- Image circulaire au centre du haut de la carte -->
        <img src=".\assets\img\6220807.png" alt="Image" class="rounded-circle position-absolute top-0 start-50 translate-middle-x mt-n3" style="width: 100px; height: 100px;">
        <div class="card-header text-white text-center py-4">
          <h3 class="font-weight-normal mb-0" style="color: #007bff;">Change Password</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <!-- Errors -->
            <div *ngIf="errors" class="alert alert-danger mb-4">{{ errors }}</div>
            <!-- Email input -->
            <div class="form-group mb-4">
              <input type="email" id="email" class="form-control py-4" formControlName="email" placeholder="Email Address">
            </div>
            <!-- New password input -->
            <div class="form-group mb-4">
              <input type="password" id="password" class="form-control py-4" formControlName="password" placeholder="New Password">
            </div>
            <!-- Confirm new password input -->
            <div class="form-group mb-4">
              <input type="password" id="password_confirmation" class="form-control py-4 border-primary" formControlName="password_confirmation" placeholder="Confirm New Password">
              <!-- Ajoutez un message pour les mots de passe non compatibles -->
              <div *ngIf="changePasswordForm.hasError('passwordMismatch')" class="text-danger">Passwords do not match</div>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-block btn-primary mt-3">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
