<div class="container-xl mt-5">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="card shadow">
          <div class="table-title bg-custom-blue text-light p-4 rounded-top d-flex justify-content-between align-items-center">
            <div>
              <h4 class="mb-0">Edit participant</h4>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-secondary" routerLink="/compte-participant">Back</button>
            </div>
          </div>
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="updateParticipant()" class="form">
              <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Last Name<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="nom" [(ngModel)]="participant.nom" required>
                </div>
              </div>
              <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">First Name<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="prenom" [(ngModel)]="participant.prenom" required>
                </div>
              </div>
              <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Login<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="login" [(ngModel)]="participant.login" required>
                </div>
              </div>
              <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Email Address<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="email" class="form-control" name="email" [(ngModel)]="participant.email" required>
                </div>
              </div>
              <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Company</label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="companySelect" [(ngModel)]="participant.company_id">
                </div>
              </div>
              <div class="form-group p-10 row">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="bouton">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  