<div class="wrapper wrapper-full-page">
    <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/login.jpg">
      <div class="content">
        <div class="container">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
              <div class="card card-login">
                <div class="card-header bg-info text-white">
                  <h3 class="header text-center">Login</h3>
                </div>
                <div class="card-body">
                  <div *ngIf="loginForm.get('login')?.errors?.required && loginForm.get('login')?.touched" class="alert alert-danger mt-3">
                    The login field is required.
                  </div>
                  <div *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched" class="alert alert-danger mt-3">
                    The password field is required.
                  </div>
                  <div *ngIf="errors?.message" class="alert alert-danger mt-3">
                    {{ errors?.message }}
                  </div>
                  <div class="input-group mb-3" [ngClass]="{'input-group-focus': focus === true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Login..." formControlName="login" (focus)="focus=true" (blur)="focus=false">
                </div>
                  <div class="input-group mb-3" [ngClass]="{'input-group-focus': focus1 === true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                    </div>
                    <input type="password" placeholder="Password" class="form-control" formControlName="password" (focus)="focus1=true" (blur)="focus1=false">
                </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info btn-round btn-block mb-3">Log in</button>
                    <a routerLink="/auth/reset" class="btn btn-link btn-block">Forgot password ?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>