<div class="container-xl" style="margin-top: 80px; margin-bottom: 100px;">
  <div class="table-wrapper mt-5">
    <div class="card shadow">
      <div class="table-title bg-custom-blue text-light p-4 rounded-top d-flex justify-content-between align-items-center">
        <div>
          <h4 class="mb-0">Edit Company</h4>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" routerLink="/companies/list">Back</button>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="message" class="alert" [ngClass]="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'danger'}">
          {{ message }}
        </div>
        <form #f="ngForm" (ngSubmit)="updateCompany()">
          <div *ngIf="!loading">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nom" [(ngModel)]="company.nom" required>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Subdomain<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="subdomaine" [(ngModel)]="company.subdomaine" required>
              </div>
            </div>
            <!-- Add an icon in front of the logo input field -->
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10"><i class="fas fa-image text-primary"></i> Logo</label>
              </div>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-white border-right-0"><i class="fas fa-image text-primary"></i></span>
                  </div>
                  <input type="file" class="form-control border-left-0" name="logo" (change)="onFileSelected($event)">
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Address<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="adresse" [(ngModel)]="company.adresse" required>
              </div>
            </div>
          </div>
          <div class="form-group p-10 row" *ngIf="!loading">
            <div class="col-sm-12 text-center">
              <button type="submit" class="bouton">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
