.bg-custom-blue {
    background-color: #003366; /* Couleur bleu foncé */
    color: #fff; /* Couleur du texte en blanc */
}

.btn-warning {
    background-color: #ffc107 !important; /* Couleur orange pour les boutons Exporter */
    color: #212529 !important; /* Couleur du texte en noir */
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #e0a800 !important; /* Couleur de survol des boutons Exporter */
}

.btn-primary {
    background-color: #007bff !important; /* Couleur bleu primaire pour le bouton Importer */
    color: #fff !important; /* Couleur du texte en blanc */
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3 !important; /* Couleur de survol du bouton Importer */
}
.bouton {
    display: inline-block; /* Pour aligner sur une seule ligne */
    background-color: #719fee;
    border-radius: 5px; /* Pour rendre les coins plus arrondis */
    border: none; /* Supprimer le contour */
    color: #ffffff;
    text-align: center;
    font-size: 16px; /* Réduire la taille de la police */
    padding: 5px 10px; /* Réduire l'espace intérieur */
    width: auto; /* Ajuster la largeur automatiquement au contenu */
    cursor: pointer;
}
.boutton {
    display: inline-block; /* Pour aligner sur une seule ligne */
    background-color: #719fee;
    border-radius: 5px; /* Pour rendre les coins plus arrondis */
    border: none; /* Supprimer le contour */
    color: #ffffff;
    text-align: center;
    font-size: 16px; /* Réduire la taille de la police */
    padding: 5px 10px; /* Réduire l'espace intérieur */
    width: auto; /* Ajuster la largeur automatiquement au contenu */
    cursor: pointer;
    margin-top: 20px; /* Ajouter une marge en haut pour abaisser les boutons */
}

