/* Supprime l'arrière-plan gris */
.background-gray {
    display: none;
}

/* Sidebar */
.sidebar-wrapper {
    background-color: #003366;
    width: 256px;
    border-radius: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Menu items */
.nav a {
    display: block;
    padding: 12px 16px;
    color: inherit;
    text-decoration: none;
}

/* Change la couleur de fond lorsqu'un élément est survolé */
.nav a:hover {
    background-color: #291dd196; /* Nouvelle couleur de fond lorsqu'un élément est survolé */
    color: #5320b142; /* Nouvelle couleur du texte lorsqu'un élément est survolé */
}

/* Change la couleur de fond lorsqu'un élément est actif */
.nav .active a {
    background-color: transparent; /* Retourne à la couleur de fond transparente */
    color: inherit; /* Retourne à la couleur de texte par défaut */
}

/* Autres styles pour la sidebar */
.user {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: flex-start; /* Aligner en haut */
    padding: 16px;
}

.user .photo {
    margin-bottom: 12px; /* Ajouter un espacement entre la photo et le nom */
}

.user .photo img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.user .info span {
    font-size: 1rem;
}

.nav {
    padding: 0;
    list-style-type: none;
}

.nav li {
    position: relative;
}

.nav .caret {
    float: right;
    margin-left: auto;
}

.nav .collapse {
    display: none;
}

.nav .collapse.show {
    display: block;
}

.sidebar-mini-icon {
    margin-right: 8px;
}

.logout-btn {
    padding: 16px;
}

.logout-btn button {
    width: 100%;
}

/* Styles supplémentaires pour la sidebar */
.sidebar-navy {
    color: #f5f6fa;
}

.sidebar-navy .nav a i {
    color: inherit;
}

.sidebar-navy .nav a:hover i {
    color: #9c88ff;
}

.sidebar-navy .nav a:hover {
    background-color: #1a2f85a8;
}
