<div class="container-xl mt-5 mb-4">
  <div class="table-responsive">
    <div class="table-wrapper mt-5">
      <table class="table table-bordered shadow rounded">
        <tbody>
          <tr>
            <td colspan="8">
              <div class="table-title bg-custom-blue text-light p-4 rounded-top d-flex justify-content-between align-items-center">
                <h4 class="m-0"><b>Liste des admins</b></h4>
                <button class="btn btn-success" (click)="ajouterAdmin()">
                  <i class="fas fa-plus-circle"></i><span class="ml-2">ADD</span>
                </button>
              </div>
              
            </td>
          </tr>
          <tr>
            <td>
              <table class="table table-striped table-hover">
                <thead class="bg-white text-dark">
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Créé le</th>
                    <th>ID de la société</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let admin of admins">
                    <td>{{ admin.id }}</td>
                    <td>{{ admin.nom }}</td>
                    <td>{{ admin.prenom }}</td>
                    <td>{{ admin.login }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.created_at }}</td> 
                    <td>{{ admin.company_id }}</td> 
                    <td>
                      <a [routerLink]="['/compte-admin/modif', admin.id]" class="btn btn-warning btn-icon btn-sm mr-2"><i class="fa fa-edit"></i></a>
                      <button type="button" (click)="delete($event, admin.id)" class="btn btn-danger btn-icon btn-sm"><i class="fa fa-times"></i></button>
                    </td>
                  </tr>
                  <tr *ngIf="admins.length == 0">
                    <td colspan="8" class="text-center">Aucun administrateur trouvé</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
