<div *ngIf="userProfile">
  <h2>User Profile</h2>
  <div>
    <p><strong>Nom:</strong> {{ userProfile.nom }}</p>
    <p><strong>Prénom:</strong> {{ userProfile.prenom }}</p>
    <p><strong>Login:</strong> {{ userProfile.login }}</p>
    <p><strong>Email:</strong> {{ userProfile.email }}</p>
    <p><strong>Date de création:</strong> {{ userProfile.created_at }}</p>
    <p><strong>Date de mise à jour:</strong> {{ userProfile.updated_at }}</p>
    <div *ngIf="userProfile.company_id">
      <h3>Données de l'entreprise</h3>
      <p><strong>Nom:</strong> {{ userProfile.company.nom }}</p>
      <p><strong>Domaine:</strong> {{ userProfile.company.subdomaine }}</p>
      <p><strong>Adresse:</strong> {{ userProfile.company.adresse }}</p>
      <p><strong>Logo:</strong></p>
      <img src="{{ userProfile.company.logo }}" alt="Logo de l'entreprise" width="100" height="100">
    </div>
  </div>
</div>
