<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="author">
          <div class="profile-picture-placeholder" (click)="selectProfilePicture()" style="margin-top: 80px;">
            <img *ngIf="!userProfile?.profile_photo" src="./assets/img/avatar.png" alt="" class="avatar">
            <img *ngIf="userProfile?.profile_photo" [src]="userProfile.profile_photo" alt="Profile Picture" class="profile-picture">
            <input type="file" #profilePictureInput (change)="uploadProfilePicture($event)" accept="image/*" style="display: none;">
          </div>
          
          <h5 class="title">{{ userProfile?.nom }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="userProfile.prenom" name="prenom" placeholder="First Name" required>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="userProfile.nom" name="nom" placeholder="Last Name" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" [(ngModel)]="userProfile.login" name="login" placeholder="Username" required>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" [(ngModel)]="userProfile.email" name="email" placeholder="Email" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="selectProfilePicture()">Change Profile Picture</button>
            </div>
            <!-- Champs d'entreprise -->
            <div *ngIf="userProfile.company">
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control" [value]="userProfile.company.nom" disabled>
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Subdomain</label>
                    <input type="text" class="form-control" [value]="userProfile.company.subdomaine" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" [value]="userProfile.company.adresse" disabled>
                  </div>
                  <div class="form-group">
                    <label>Logo:</label>
                    <img src="{{ userProfile.company.logo }}" alt="Logo de l'entreprise" width="100" height="100">
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
