<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <form #f="ngForm"  (ngSubmit)="updateAdmin()">
            <div *ngIf="admin">
            <div class="card-header">
              <h4 class="card-title">Modifier Admin</h4>
            </div>
            <div class="card-body">
        
              <div class="form-group has-label">
                <label class="control-label" for="nom">Nom:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="nom" [(ngModel)]="admin.nom" required>
                
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="prenom">Prénom:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="prenom" [(ngModel)]="admin.prenom" required >
                
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="login">Login:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="login" [(ngModel)]="admin.login" required >
               
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="email">Email Address:
                  <span class="star">*</span>
                </label>
                <input type="email" class="form-control" name="email" [(ngModel)]="admin.email" required 
                 >
                
              </div>
              <div class="form-group has-label">
                <label class="control-label" for="companySelect">Entreprise:
                  <span class="star">*</span>
                </label>
                <input type="text" class="form-control" name="companySelect" [(ngModel)]="admin.company_id" >
               
                
              </div>
            </div>
            <div class="card-footer text-right">
              <div class="form-check pull-left">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="optionCheckboxes" >
                  <span class="form-check-sign"></span>
                  Subscribe to newsletter
                </label>
              </div>
              <button type="submit" class="btn btn-primary">update</button>
            </div>
          </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>