<div class="container-xl" style="margin-top: 80px; margin-bottom: 100px;">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="card shadow">
        <div class="table-title bg-custom-blue text-light p-4 rounded-top d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-0">Add a participant</h4>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-secondary" routerLink="/compte-participant">Back</button>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="participantForm" (ngSubmit)="saveParticipant()" class="form" #form="ngForm">
            <div *ngIf="message" class="alert" [ngClass]="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'danger'}">
            {{ message }}
          </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="nom" class="p-t-b-10">Last Name:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" formControlName="nom" id="nom" placeholder="Last Name" class="form-control">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="prenom" class="p-t-b-10">First Name:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" formControlName="prenom" id="prenom" placeholder="First Name" class="form-control">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="login" class="p-t-b-10">Login:</label>
              </div>
              <div class="col-sm-9">
                <input type="text" formControlName="login" id="login" placeholder="Login" class="form-control">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="password" class="p-t-b-10">Password:</label>
              </div>
              <div class="col-sm-9 input-group">
                <input type="password" formControlName="password" id="password" placeholder="Password" class="form-control" minlength="8">
                <div class="input-group-append">
                  <span class="input-group-text" (click)="togglePasswordVisibility()">
                    <i [ngClass]="passwordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'" aria-hidden="true"></i>
                  </span>
                </div>
                <div *ngIf="submitted && participantForm.controls.password.errors?.required" class="text-danger">Password is required</div>
                <div *ngIf="submitted && participantForm.controls.password.errors?.minlength" class="text-danger">Password must be at least 8 characters</div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="email" class="p-t-b-10">Email:</label>
              </div>
              <div class="col-sm-9">
                <input type="email" formControlName="email" id="email" placeholder="Email" class="form-control">
                <div *ngIf="submitted && participantForm.controls.email.errors?.required" class="text-danger">Email is required</div>
                <div *ngIf="submitted && participantForm.controls.email.errors?.email" class="text-danger">Please enter a valid email address</div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                  <label for="company_id" class="p-t-b-10">Company:</label>
              </div>
              <div class="col-sm-9">
                  <select formControlName="company_id" id="company_id" class="form-control">
                      <option *ngFor="let company of companies" [value]="company.id">{{ company.nom }}</option>
                  </select>
                  <div *ngIf="submitted && participantForm.controls.company_id.errors?.required" class="text-danger">Company is required</div>
              </div>
          </div>
          
            <div class="form-group p-10 row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="bouton">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
