/* Couleur bleu foncé */
.bg-custom-blue {
    background-color: #003366;
    color: #fff;
}

/* Couleur verte */
.green-btn {
    background-color: #28a745;
    border-color: #28a745;
}

.container-xl {
    width: 60%;
    margin: 50px auto 70px auto;
}
.bouton {
    display: inline-block; /* Pour aligner sur une seule ligne */
    background-color: #719fee;
    border-radius: 5px; /* Pour rendre les coins plus arrondis */
    border: none; /* Supprimer le contour */
    color: #ffffff;
    text-align: center;
    font-size: 16px; /* Réduire la taille de la police */
    padding: 5px 10px; /* Réduire l'espace intérieur */
    width: auto; /* Ajuster la largeur automatiquement au contenu */
    cursor: pointer;
  }